<MudGrid id="about" Class="mt-5">
    <SectionTitle Title="Some Words About Me" />
    <MudItem md="3" sm="12" xs="12" Class="d-flex justify-center">
            <MudImage Elevation="5" Fluid="true" Src="@($"{ApiEndPoints.ServerBaseUrl}/{User.BackgroundImagePath}")" Style="height:100%"/>
    </MudItem>
    <MudItem md="9" sm="12" xs="12">
        <MudPaper Class="pa-5" Elevation="5" Style="height: 100%">
            <MudText Typo="Typo.h5">My name is <span class="mud-primary-text"><strong>@($"{User.FirstName} {User.LastName}")</strong></span></MudText>
            <MudText Typo="Typo.body1" Class="mt-5">
                @User.Intro
            </MudText>
            <MudGrid Class="mt-5">
                <MudItem md="6" sm="12" xs="12">
                    <div class="row">
                        <MudIcon Class="col-sm-2" Icon="@Icons.Filled.Cake" Style="width:50px; height:50px; margin-top:-15px; margin-right:-15px" />
                        <MudText Class="col-sm-2"><strong>Birthday:</strong></MudText>
                        <MudText Class="col-sm-8 text-end">@User.DoB.ToString("dd.MM.yyyy")</MudText>
                    </div>
                    <div class="row">
                        <MudIcon Class="col-sm-2" Icon="@Icons.Filled.LocationOn" Style="width:50px; height:50px; margin-top:-15px; margin-right:-15px" />
                        <MudText Class="col-sm-2"><strong>Location:</strong></MudText>
                        <MudText Class="col-sm-8 text-end">@User.Address</MudText>
                    </div>
                    <div class="row">
                        <MudIcon Class="col-sm-2" Icon="@Icons.Filled.Business" Style="width:50px; height:50px; margin-top:-15px; margin-right:-15px" />
                        <MudText Class="col-sm-2"><strong>Study:</strong></MudText>
                        <MudText Class="col-sm-8 text-end">@User.Study</MudText>
                    </div>
                    <div class="row">
                        <MudIcon Class="col-sm-2" Icon="@Icons.Filled.Email" Style="width:50px; height:50px; margin-top:-15px; margin-right:-15px" />
                        <MudText Class="col-sm-2"><strong>Email:</strong></MudText>
                        <MudText Class="col-sm-8 text-end">@User.Email</MudText>
                    </div>
                </MudItem>
                <MudItem md="6" sm="12" xs="12">
                    <div class="row">
                        <MudIcon Class="col-sm-2" Icon="@Icons.Filled.CalendarMonth" Style="width:50px; height:50px; margin-top:-15px; margin-right:-15px" />
                        <MudText Class="col-sm-2"><strong>Age:</strong></MudText>
                        <MudText Class="col-sm-8 text-end">24</MudText>
                    </div>
                    <div class="row">
                        <MudIcon Class="col-sm-2" Icon="@Icons.Filled.VideogameAsset" Style="width:50px; height:50px; margin-top:-15px; margin-right:-15px" />
                        <MudText Class="col-sm-2"><strong>Interests:</strong></MudText>
                        <MudText Class="col-sm-8 text-end">@User.Interests</MudText>
                    </div>
                    <div class="row">
                        <MudIcon Class="col-sm-2" Icon="@Icons.Filled.School" Style="width:50px; height:50px; margin-top:-15px; margin-right:-15px" />
                        <MudText Class="col-sm-2"><strong>Degree:</strong></MudText>
                        <MudText Class="col-sm-8 text-end">@User.Degree</MudText>
                    </div>
                    <div class="row">
                        <MudIcon Class="col-sm-2" Icon="@Icons.Filled.Phone" Style="width:50px; height:50px; margin-top:-15px; margin-right:-15px" />
                        <MudText Class="col-sm-2"><strong>Phone:</strong></MudText>
                        <MudText Class="col-sm-8 text-end">@User.Phone</MudText>
                    </div>
                </MudItem>
            </MudGrid>
            <MudGrid Class="mt-5">
                <MudItem xs="12">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" StartIcon="@Icons.Filled.FileDownload" Class="mr-5">Download CV</MudButton>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" StartIcon="@Icons.Filled.Send">Send Message</MudButton>
                </MudItem>
            </MudGrid>
        </MudPaper>
    </MudItem>
</MudGrid>

@code
{
    [Parameter]
    public UserDto User { get; set; }
}